<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A CIÊNCIA está no nosso DNA!</h2>
                <hr class="light">
                <p class="text-faded"><b><u>Qookka - Transmitting Science</u></b> é uma empresa que começou em 2019 com o objetivo de gerenciar cursos presenciais e online, meetups, webnair e workshops altamente dinâmicos, com sessões práticas e tempo para perguntas e interação entre instrutores e participantes, promovendo assim o intercâmbio de idéias e debates.</p>
                </br>
                <a href="#" class="btn btn-default btn-xl">Saiba mais!</a>
            </div>
        </div>
    </div>
</section>
