<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A CIÊNCIA está no nosso DNA!</h2>
                <hr class="light">
                <p class="text-faded"><b>Qookka - Transmitting Science</b> é uma empresa que começou em 2019 para gerenciar cursos e workshops especializados.</p>
                <p class="text-faded">Nosso objetivo é a transferência do conhecimento científico para diferentes níveis. Compartilhar conhecimento adquirido entre cientistas é um dos nossos principais objetivos. Compartilhamos com os instrutores a ideia de cursos e workshops altamente dinâmicos, com sessões práticas e tempo para perguntas e interação. Promovemos o intercâmbio de idéias e debates dentro de nossos cursos através da interação intelectual durante almoços compartilhados, cafés e até mesmo em happy hours depois da aula!</p>
                </br>
                <a href="#" class="btn btn-default btn-xl">Conheça agora!</a>
            </div>
        </div>
    </div>
</section>
