<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A CIÊNCIA está no nosso DNA!</h2>
                <hr class="light">
                <p class="text-faded"><b>Qookka - Transmitting Science</b> é uma empresa que começou em 2019 para gerenciar cursos e workshops especializados.</p>
                </br>
                <a href="#" class="btn btn-default btn-xl">Conheça agora!</a>
            </div>
        </div>
    </div>
</section>
