<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O que fazemos?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary"></i>
                    <h4>Cursos</h4>
                    <p class="text-muted">Cursos presenciais e onlines (aulas síncronas e assíncronas)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h4>Workshops</h4>
                    <p class="text-muted">Workshops dinâmicos com exemplos de fácil assimilação</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h4>Meetups</h4>
                    <p class="text-muted">Encontros presenciais informais sobre temas científicos diversos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-microphone wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h4>Webnair</h4>
                    <p class="text-muted">Palestras online sobre temas científicos diversos</p>
                </div>
            </div>
        </div>
        </br></br>
        <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-flask wow bounceIn text-primary"></i>
                    <h4>Consultoria Científica</h4>
                    <p class="text-muted">Cursos presenciais e onlines (aulas síncronas e assíncronas)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calculator wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h4>Consultoria Estatística</h4>
                    <p class="text-muted">Workshops dinâmicos com exemplos de fácil assimilação</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h4>Consultoria Acadêmica</h4>
                    <p class="text-muted">Encontros presenciais informais sobre temas científicos diversos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h4>Consultoria Computacional</h4>
                    <p class="text-muted">Palestras online sobre temas científicos diversos</p>
                </div>
            </div>
        </div>
    </div>
</section>
